In [1]:
import pandas as pd
from math import cos, sin, asin, sqrt, radians

In [2]:
def calc_distance(lat1, lon1, lat2, lon2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    # haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    c = 2 * asin(sqrt(a))
    km = 6371 * c
    return km

In [3]:
def calculo_distancia(df, df_onibus):
    calculo_distancia = []
    for latidude_acomodacao, longitude_acomodacao in zip(df['latitude'], df['latitude']):
        for latitude_parada, longitude_parada in zip(df_onibus['latitude'], df_onibus['latitude']):
            result_final = 999999999
            result = calc_distance(latidude_acomodacao, longitude_acomodacao, latitude_parada, longitude_parada)
            if result < result_final:
                result_final = result
            else:
                pass
            result = 0
        calculo_distancia.append(result_final)
    return calculo_distancia

In [4]:
def trata_colunas(df):
    df['price'] = pd.to_numeric(df['price'].str.replace('[^-.0-9]', '', regex=True))
    df['bathrooms_text'] = df['bathrooms_text'].str.replace('[^.0-9]', '', regex=True).str.replace('', '0', regex=True).astype('float64')

    return df

In [5]:
def drop_outiliers(df):
    df.drop(df[df['price'] >= 9999].index, inplace = True)
    df.drop(df[df['accommodates'] == 0].index, inplace = True)
    df = df[df['latitude'].notna()]
    df = df[df['longitude'].notna()]

    return df

In [6]:
df = pd.read_csv("data/listings.csv")
df_onibus =pd.read_csv('data/onibus.csv')

In [8]:
df['distancia_parada_metros'] = calculo_distancia(df, df_onibus)
df_colunas_tratadas = trata_colunas(df)
df_sem_outliers = drop_outiliers(df_colunas_tratadas)

In [ ]:
df_sem_outliers.to_csv('data/dados_tratados.csv')